@media screen and (max-width: 767px) {
    
    .logo {
      padding-right: 50px;
      padding-left: 50px;
    }
    
    .nav-items {
      display: none;
      flex-direction: column;
      align-content: center;
      width: 100%;
    }
    .nav-items ul a {
      float: left;
    }
    .nav-items.show {
      display: flex;
      border: 2px solid var(--mainButtons);
      border-radius: 7px;
    }
    .hamburger {
      display: block;
      padding-right: 50px;
    }
    .optional {
      display: block;
    }
    .login-signup {
      display: none;
    }
    .container-primary {
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .hero-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .hero-section h1 {
      text-align: center;
    }
    .hero-section {
      text-align: center;
    }
    .container-primary .illustration-1 {
      width: 100%;
    }
    .icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0px 23px 15px 0px rgba(0, 0, 0, 0.06);
    }
    .item {
      margin-bottom: 10px;
    }
    .vl {
      transform: rotate(90deg);
    }
    .illustration-2 {
      max-width: 100%;
    }
    .pros {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 50px;
      padding-right: 50px;
    }
    .plans {
      display: flex;
      flex-direction: column;
    }
    .map {
      max-width: 100%;
    }
    .testimonials {
      display: flex;
      flex-direction: column;
    }
    .testimonial {
      margin-bottom: 50px;
    }
    .container-form {
      display: flex;
      flex-direction: column;
    }
   .text{
       text-align: center;
      margin-bottom: 40px;  
   }
   .container-footer{
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
   } 
   .row-container{
       padding-left: 0;
   }
  
   .row h5{
       font-size: 0.5rem;
   }
   
  .row ul li{
      width: 105px;
      font-size: 0.7rem;
      margin-right: 35px;
      line-height: 15px;
  }
  }
  @media screen and (max-width: 1024px){
      .logo {
          padding-right: 25px;
          padding-left: 25px;
        }
        .nav-items {
          display: none;
          flex-direction: column;
          
          width: 100%;
        }
        .nav-items ul a {
          float: left;
        }
        .nav-items.show {
          display: flex;
          border: 2px solid var(--mainButtons);
          border-radius: 7px;
        }
        .hamburger {
          display: block;
          padding-right: 25px;
        }
        .optional {
          display: block;
        }
        .login-signup {
          display: none;
        }
        .container-primary {
          padding-left: 50px;
          padding-right: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .hero-section h1 {
          text-align: center;
        }
        .hero-section {
  
          text-align: center;
        }
  
        .container-primary .illustration-1 {
          width: 100%;
        }
        .icons {
          max-width: 80%;
          border-radius: 10px;
          box-shadow: 0px 23px 15px 0px rgba(0, 0, 0, 0.06);
        }
        .vl{
            padding-right: 25px;
        }
        .item {
          margin-bottom: 10px;
        }
        
        .illustration-2 {
          max-width: 100%;
        }
        
        .pros {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-left: 50px;
          padding-right: 50px;
        }
        
        .plans {
          display: flex;
          flex-direction: column;
        }
        .plan-image{
            display: none;
        }
        .optional{
            
          position: relative;
          left: 30%;
          bottom: 30px;
          display: block;
          }

        .map {
          max-width: 100%;
        }
        .testimonials {
          padding-left: 50px;
          padding-right: 50px;
          display: flex;
          flex-wrap: nowrap;
        }
        .testimonial {
          margin-bottom: 50px;
          display: flex;
        }
        
        .flex-star{
            position: relative;
            top: 35px;
            right: 10px;
        }
        .person{
            position: relative;
            left: 30px;
        }
        
        .container-form {
          display: flex;
          flex-direction: column;
          border: 2px solid var(--secondaryBorders);
          max-width: 80%;
          margin-left: 10%;
        }
        
       .text{
           text-align: center;
          margin-bottom: 40px;  
       }
       footer{
           padding-top: 90px;
       }
       .container-footer{
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
       } 
       .row-container{
           padding-left: 0;
           display: flex;
           justify-content: space-between;
       }
      
       .row h5{
           font-size: 0.9rem;
       }
       .row ul li{
          
          font-size: 0.8rem;
          margin-right: 35px;
          line-height: 10px;
      }
  }
  