*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}
:root{
    --primaryColor:#0B132A; /*Text color*/
    --mainParagraph: #4F5665;/*Paragraph color*/
    --mainButtons: #F53838;/*Buttons*/
    --secondaryIcons: #FFECEC;/*background of the icons*/
    --mainWhite: #ffffff;/*just white :X*/
}
h1{
    font-size: 3.125rem;
    font-weight: normal;
    line-height: 70px;
}
h2{
    font-size: 2.1875rem;
    font-weight: normal;
}
h3{
    font-size: 1.5625rem;
    margin: 0;
    padding: 0;
}
p{
    font-size: 1rem;
    color: var(--mainParagraph);
    margin: 0;
    padding: 0;
    /*line-height: 30px;*/
}

.container{
    max-width: 1140px;
    display: flex;
    margin-left: 150px;
}
.container-primary{
    max-width: 1207px;
    display: flex;
    margin-left: 150px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 101px;
}
.nav-items{
    display: flex;
}
.navbar ul li{
    padding-right: 40px;
    list-style: none;
    text-decoration: none;
}
.navbar ul li a{
    color: var(--mainParagraph);
    text-decoration: none;
}
.btn-primary{
    color: var(--mainButtons);
    background-color: var(--mainWhite);
    font-size: 1rem;
    font-weight: 500;
    width: 150px;
    height: 45px;
    border: 1px solid #F53855;
    outline: none;
    border-radius: 50px;
}
.btn-primary:hover{
    background-color: var(--mainButtons);
    color: var(--mainWhite);
}
.link-primary{
    text-decoration: none;
    font-weight: 500;
    text-decoration: none;
    color: var(--primaryColor);
    margin-right: 30px;
}
.hero-section{
    padding-bottom: 105px;
}
.hero-section p{
    line-height: 30px;
    padding-bottom: 50px;
}
.btn-secondary{
    background-color: var(--mainButtons);
    color: var(--mainWhite);
    border-radius: 10px;
    outline: none;
    width: 250px;
    height: 60px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 0px 20px 10px 0px rgba(245, 56, 56, 0.35);
}
.vl{
    height: 126px;
    border-left: 2px solid #EEEFF2;
    padding-left: 101px;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 91px 73px 134px 68px;
    border-radius: 10px;
    box-shadow: 0px 23px 15px 0px rgba(0,0,0,0.06);
}
.item{
    display: flex;
}
.p-secondary{
    color: var(--mainParagraph);
    font-size: 1.25rem;
}
.small-box{
    margin-left: 36.5px;
}
.plans{
    display: flex;
    justify-content: space-between;
}
.text-box{
    text-align: center;
    padding-bottom: 60px;
}
.flex{
    align-items: flex-start;
    display: flex;
}
.pros{
    padding-left: 170px;
}
.pros h2{
    font-weight: 500;
    line-height: 50px;
}
.pros p{
    text-align: center;
    line-height: 30px;
    font-size: 0.875rem;
    font-weight: 400;
}
.container-box{
    flex-direction: column;
}
.plan-box{
    border: 2px solid #DDDDDD;
    border-radius: 10px;
}